table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;
    color: #212529;
}

th {
    text-align: left;
    padding: 0.5rem;
    border-bottom: 2px solid #dee2e6;
}

td {
    padding: 0.5rem;
    border-bottom: 1px solid #dee2e6;
}